.mini-card{
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 35px 30px;
    background-color: #fff;
    width:55%;
}
.mini-card img{
    float: left;
    margin-right: 25px;
    vertical-align: middle;
   
}
.mini-card h6{
font-size: 20px;
font-weight: 600;
vertical-align: middle;
}
.mini-card h6 span{
    font-size: 15px;
    color: #aaaaaa;
    font-weight: 400;
}